{{yield}}


<div>
	<p {{action "clickedList"}}> {{item.title}} </p>
</div>

<div style="display: {{showDetailModal}}" class="detail-modal">
	<div class="modal-content">
	<h4 contenteditable="true"> {{item.title}} </h4>
	<h4 contenteditable="true"> {{item.description}} </h4>
	<button {{action "closeDetailView"}}>CLOSE</button>
	<button {{action "deleteListItem"}}> DELETE </button>
	</div>
</div>