{{yield}}

<div class="item-content">
	<p {{action "clickedList"}}> {{item.title}} </p>
</div>

<div style="display: {{showDetailModal}}" class="detail-modal">
	<div class="modal-content">
		<form>
			<p>Title:</p>{{input value=item.title}}
			<p>Description</p>{{input value=item.description}}

		</form>
	<!-- 	<h4 contenteditable="true"> {{item.title}} </h4>
		<h4 contenteditable="true"> {{item.description}} </h4> -->
		<button {{action "closeDetailView" title description item list}}>CLOSE</button>
		<button {{action "confirmDelete" item list}}> DELETE </button>
	</div>
</div>

<div style="display: {{showConfirmDelete}}" class="detail-modal confirmation-modal">
	<div class="modal-content">
		<h3> Are you sure? </h3>
		<button {{action "deleteListItem" item list}}>Yes</button>
		<button {{action "closeDeleteModal"}}> No </button>
	</div>
</div>
