{{outlet}}	


<h1> Hannah Jane's index route </h1>
{{outlet}}


<div class="lists-container">
	{{#each model as |list|}}
	{{#list-container list=list deleteList="deleteList"}}
	{{/list-container}}
	{{/each}}
</div>
<form>
{{input value=title}}
{{input value=description}}
</form>
<button {{action "addList" title description}} >Add a List!</button>
	<!-- add a "add list item component" -->