{{outlet}}	


<h1> Light Weight Trello</h1>
<div class="lists-container">
	{{#each model as |list|}}
	{{#list-container list=list addItemToList=(action 'addItemToList') deleteList="deleteList"}}
	{{/list-container}}
	{{/each}}
</div>
<form style="display: {{showAddListForm}}">
	{{input value=title}}
	{{input value=description}}
	<button {{action "addList" title description}}> Add this list </button>
</form>
<button>
	List Form
</button>
